*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainuno {
    position: relative;
    display: inline-block;
    left:100px;
}

.Intro{
    
    border-radius: 10px;
    background-color: rgb(155, 138, 138);
    width: 600px;
    height: 300px;
    top: 100px;
}

.Intro .parrafo{
    padding: 50px;
    padding-top: 100px;
    
}
.parrafo{
    padding: 25px 55px;
    left: 100px;
}
.recuadro{
    position: relative;
    top: 50px;
    border-radius: 10px;
    background-color: red;
    width: 150px;
    height: 100px;
    left: 200px;
}