/*que este cerca*/
/* h2 + p{
    color: red;
} */
/* Se usa para aplicar a los que esten en el mismo bloque */
/* h2 ~ p {
    color: red;
} */

/* Que sea hija directa */
/* div > p {
    color: red;
} */
/* Descendiente */
div p{
    color: red;
}